.linksWrapper {
  display: flex;
  padding-top: 26px;
  gap: 35px;

  a {
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    &:hover {
      color: #030712;
    }
  }


  @media screen and (max-width: 380px) {
    justify-content: space-between;
    flex-direction: column;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
}
