@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/styles/common.scss";

/* Если у кого есть желания найти шрифт и подключить как в макете то Do it =) */
/*  font-family: 'PT Sans', sans-serif;*/
body{
  font-family: 'PT Sans', sans-serif;
  height: 100%;
  background-color: #F5ECE3;
}


// home-page
.home-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 108px;
}

.home-cosmeticsContainer,
.home-socialMediaContainer,
.home-mediaImagesVisible,
.home-mediaImagesHidden {
  padding: 0 70px;
}

.homeCosmetics,
.homeCosmetics-images {
  @include flex-justify-between;
  gap: 20px;
}

.homeCosmetics-images img {
  max-width: 310px;
}

.careCosmetics,
.beautyCosmetics {
  margin-bottom: 30px;
}

.beautyCosmetics {
  flex-direction: row-reverse;
}

.home-uniqueContainer {
  max-width: 1440px;
  margin-top: 70px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: $dark;
}

.home-socialMediaContainer {
  font-size: 48px;
  @include flex-justify-between;
  align-items: flex-end;
  margin-top: 136px;
  margin-bottom: 100px;
}

.home-socialMediaBtn {
  width: 310px;
  height: 80px;
}

.home-mediaImagesVisible {
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .home-container {
    max-width: 375px;
    padding-bottom: 90px;
  }
  
  .home-cosmeticsContainer,
  .home-socialMediaContainer,
  .home-mediaImagesVisible {
    padding: 0 15px;
  }
  
  .home-cosmeticsImages {
    display: none;
  }
  
  .home-uniqueContainer {
    flex-direction: column;
  }

  .home-socialMediaContainer {
    font-size: 30px;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 50px;
  }

  .home-socialMediaBtn {
    width: 345px;
  }

  .home-mediaImagesHidden {
    display: none;
  }
}


//contacts page
.contacts-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 70px;
}

.contacts-socialMedia {
  font-size: 36px;
  @include flex-justify-between;
  align-items: flex-end;
  margin-bottom: 50px;
}

.contacts-socialMediaBtn {
  height: 62px;
  display: grid;
  grid-template-columns: repeat(5, 62px);
  gap: 26px;
}

.contacts-mediaImagesVisible {
  margin-bottom: 20px;
}

.contacts-mediaImagesHidden {
  margin-bottom: 110px;
}

@media screen and (max-width: 480px) {
  .contacts-container {
    max-width: 375px;
    padding: 0 15px;
  }

  .contacts-socialMedia {
    font-size: 22px;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .contacts-socialMediaBtn {
    height: 52px;
    grid-template-columns: repeat(5, 52px);
    gap: 21px;
  }

  .contacts-mediaImagesVisible {
    margin-bottom: 90px;
  }
  
  .contacts-mediaImagesHidden {
    display: none;
  }
}