@tailwind base;
@tailwind components;
@tailwind utilities;
/* Если у кого есть желания найти шрифт и подключить как в макете то Do it =) */
/*  font-family: 'PT Sans', sans-serif;*/
body{
  font-family: 'PT Sans', sans-serif;
  height: 100%;
}
/* Colors */
$primary: rgba(245, 236, 227, 1);
$secondary: rgba(238, 228, 218, 1);
$dark:rgba(85, 85, 85, 1);
$dark-hover:rgb(32, 32, 32);

/* Mixins */
@mixin boxShadow {
  box-shadow: 1px 2px 3px $primary;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
}
@mixin flex-justify-between {
  display: flex;
  justify-content: space-between;
}
@mixin flex-justify-around {
  display: flex;
  justify-content: space-around;
}
@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}
@mixin flex-end {
  display: flex;
  justify-content: end;
}
@mixin bgCoverCenter {
  background-size: cover;
  background-position: center;
}
