@import "../../assets/styles/common.scss";

.socialMedia {

    &__text {
        max-width: 600px;
        line-height: 130%;
        color: $dark;
    }
}

@media screen and (max-width: 480px) {
    .socialMedia {

        &__text {
            margin-bottom: 30px;
        }
    }
}