.slider {
    margin: 0 auto;
    max-width: 1440px;
    height: 900px;
    margin-bottom: 70px;

    &__image {
        width: 100%;
        height: 900px;
    }

    &__header {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 48px;
        line-height: 120%;
        color: #ffffff;
    }
}

@media screen and (max-width: 480px) {
    .slider {
        height: 598px;
        margin-bottom: 60px;

        &__image {
            height: 598px;
        }
    }
}