@import "../../assets/styles/common.scss";

.home {
	padding-bottom: 108px;

	&__container {
		max-width: 1440px;
		margin: 0 auto;
	}

	&__cosmeticsContainer,
	&__socialMediaContainer,
	&__mediaImages_visible,
	&__mediaImages_hidden {
		padding: 0 70px;
	}

	&__careCosmetics,
	&__cosmeticsImages {
		@include flex-justify-between;
		gap: 20px;
	}

	&__careCosmetics {
		margin-bottom: 30px;
	}

	.reverseFlexDirection {
		flex-direction: row-reverse;
	}

	&__cosmeticsImages img {
		max-width: 310px;
	}

	&__uniqueContainer {
		margin-top: 70px;
		margin-bottom: 136px;
	}

	&__socialMediaContainer {
		font-size: 48px;
		@include flex-justify-between;
		align-items: flex-end;
		margin-bottom: 100px;
	}

	&__socialMediaBtn {
		width: 310px;
		height: 80px;
	}

	&__mediaImages_visible {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 992px) {
	.home {
		padding-bottom: 90px;

		&__container {
			max-width: 780px;
		}

		&__cosmeticsContainer {
			display: flex;
		}

		&__cosmeticsContainer,
		&__socialMediaContainer,
		&__mediaImages_visible,
		&__mediaImages_hidden {
			gap: 2%;
			padding: 0 25px;
		}

		&__cosmeticsImages {
			display: none;
		}

		&__uniqueContainer {
			margin-bottom: 90px;
			margin-top: 90px;
		}

		&__socialMediaContainer {
			font-size: 30px;
			margin-bottom: 50px;
		}

		&__socialMediaBtn {
			width: 90%;
		}
	}
}

@media screen and (max-width: 480px) {
	.home {
		&__container {
			max-width: 375px;
		}

		&__cosmeticsContainer,
		&__socialMediaContainer,
		&__mediaImages_visible {
			padding: 0 15px;
		}

		&__cosmeticsContainer,
		&__socialMediaContainer {
			flex-direction: column;
		}

		&__socialMediaBtn {
			width: 345px;
		}

		&__mediaImages_hidden {
			display: none;
		}
	}
}
