@import "../../assets/styles/common.scss";

.shop {
    display: flex;

    &__checkout {
        padding: 0 70px;
        width: 70%;
        @include flex-justify-between;
        align-items: center;
        gap: 9%;
        background-color: $primary;
    }

    &__order {
        background-color: $secondary;
        padding: 100px 68px 80px 68px;
        width: 30%;
    }
}
