@import "../../assets/styles/common.scss";

.shop {
	padding-top: 10px;

	&__container {
		max-width: 50%;
	}

	&__title {
		margin-bottom: 15px;
		font-size: 24px;
		line-height: 40px;
		font-weight: 400;
	}

	&__list {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}

	&__item {
		display: flex;
		align-items: center;
		&_img {
			flex-shrink: 0;
			margin-right: 27px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 128px;
			height: 128px;
			background: #eee4da;
			border-radius: 6px;
		}
		&_info {
			display: flex;
			justify-content: space-between;
			flex-grow: 1;
		}
		&_main {
			padding: auto;
		}
		&_title {
			font-weight: 400;
			margin-bottom: 10px;
			font-size: 24px;
			line-height: 29px;
			letter-spacing: -0.02em;
			color: #555;
		}
		&_quantityBtn {
			padding: auto;
			display: flex;
			align-items: baseline;
			justify-content: space-around;
			margin-top: 18px;
			padding: 9px 10px;
			border-radius: 50px;
			background: #eee4da;
			max-width: 125px;
		}
		&_adidional {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			justify-content: space-between;
		}
		&_close {
			margin-left: auto;
		}
		&_price {
			margin-bottom: 0;
			margin-top: auto;
			font-size: 25px;
			line-height: 29px;
			text-align: right;
		}
		&_count {
			opacity: 0.6;
			font-size: 16px;
		}
		&_sum {
			padding: 1px;
		}
	}
	&__total {
		margin: 30px 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&_text {
			margin: 0;
			font-weight: 400;
			font-size: 32px;
			line-height: 35px;
		}
		&_sum {
			margin: 0;
			font-weight: 400;
			font-size: 32px;
			line-height: 35px;
		}
	}
	&__order {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px;
		font-size: 20px;
		font-weight: 400;
		line-height: 19px;
		text-align: center;
		background: #eee4da;
		border-radius: 76px;
		margin: 0;
		margin-bottom: 70px;
		width: 100%;
		max-width: 100%;
	}
	&_text {
		padding: 0;
	}
	&_arrow {
		padding: 0;
	}
}
