@import "../../assets/styles/common.scss";

.product-detail {
  background-color: $primary;
  color: $dark;
  &__card{
    padding-bottom: 90px;
  }
 
  h2{
    text-transform: capitalize;
  }
  &__flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__right,
  &__left {
    flex: 50%;
  }
  &__left {
    overflow: hidden;
  }
  &__right {
    @include flex-justify-center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 24px;

    h2 {
      font-size: 48px;
      font-weight: 400;
      line-height: 53px;
      letter-spacing: 3%;
      margin-top: 30px;
    }
    .button {
      margin-top: 30px;
      width: 407px;
      height: 80px;
    }
  }
  &__right-content {
    max-width: 400px;
  }
  &__quantity-price {
    @include flex-justify-between;
    align-items: center;
    width: 100%;
    margin-top: 28px;
    .price {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: -0.02em;
    }
  }
  &__tabs {
    margin-top: 50px;
    width: 405px;
    min-height: 176px;
    max-height: 176px;
    overflow-y: auto;
  }
  &__tabs-btns {
    color: $dark-opacity;
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    button {
      padding: 3px 17px;
      border: none;
      outline: none;
    }
    button:hover,
    button[data-headlessui-state="selected"] {
      background-color: $secondary;
      border-radius: 40px;
    }
    button[data-headlessui-state="selected"] {
      color: $dark;
    }
  }
  &__tabs-content {
    margin-top: 20px;
  }
  button {
    transition: opacity 0.3s, color 0.3s;
  }
  button:hover {
    opacity: 0.8;
    color: $primary-hover;
  }
  /*slider styles */
  .image-gallery-image {
    cursor: default;
  }
  .image-gallery-content.fullscreen {
    background: $primary;
    height: 100%;
  }
  .image-gallery-thumbnail {
    height: 70px;
    width: 70px;
    overflow: hidden;
    border: 1px solid $secondary-hover;
  }
  .image-gallery-image {
    height: 800px;
    object-fit: contain;
  }
  .image-gallery-thumbnails-left .image-gallery-thumbnails {
    left: 20%;
    position: absolute;
    z-index: 999;
    align-items: center;
    display: flex;
  }
}
@media screen and (max-width: 900px) {
  .product-detail {
    &__quantity-price {
      justify-content: flex-start;
      gap: 40px;
    }
  }
}
@media screen and (max-width: 480px) {
  .product-detail {
    &__right {
      padding: 50px 10px;
      justify-content: start;
      .product-detail__tabs,
      .button {
        width: 100%;
      }
      h2 {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -3%;
      }
    }
    &__right-content {
      min-width: 100%;
    }
    &__tabs-btns {
      button {
        padding: 3px 10px;
      }
    }
    .image-gallery-image {
      height: 420px;
    }
    .price {
      font-size: 28px;
    }
    &__quantity-price {
      gap: 20px;
    }
  }
}
