@import '../../assets/styles/common.scss'; //глобальна система імпортів не працює!!!

.footer {
  text-align: left;
  background-color: $secondary;
  color: #555;
  padding-bottom: 70px;
  padding-left: min(7vw, 110px);
  padding-right: min(7vw, 110px);
  @media screen and (max-width: 640px) {
    text-align: center;
    padding-left: 10px;
    padding-right: 26px;
  }
}

.footerLogo {
  display: flex;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 65px;
  @media screen and (max-width: 640px) {
    padding-bottom: 40px;
  }
}

.footerFourColumn {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  border-top: 1px solid rgba(0, 0, 0, 0.055);

  @media screen and (max-width: 1024px) {
    justify-content: space-around;
  }

  @media screen and (max-width: 640px) {
    flex-direction: column;
    align-items: center;
    padding-top: 4px;
  }
}

.heading {
  font-size: 1.25rem;
  line-height: 1.75rem;
  @media screen and (max-width: 640px) {
    display: none;
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  padding-top: 42px;
  opacity: 0.8;

  a {
    transition: all 0.2s ease-in;
    &:hover {
      color: #030712;
    }
  }
}

.text {
  padding-top: 26px;
  opacity: 0.8;
}
