@import "../../assets/styles/common.scss";

.product-recommended {
  margin-top: 114px;
  padding: 0 0 0 34px ;
  &__descr{
    max-width: 600px;
  }
  p {
    font-size: 48px;
    font-weight: 300;
    line-height: 62px;
  }
  &__slider {
    margin-top: 20px;
    position: relative;
    margin-top: 75px;
  }
  .recommended-slide{
    overflow: hidden; 
    padding-right: 20px;
    img{
      border-radius: 6px;
    }
  }
}
@media screen and (max-width: 620px) {
  .product-recommended {
    margin-top: 90px;
    padding: 0 10px ;
    p {
      font-size: 30px;
      font-weight: 300;
      line-height: 39px;
    }
  }
}
