@import "../../assets/styles/common.scss";
@import "../about/About.module.scss";


.text {

  &_title {
  font-weight: bold;
    font-size: 22px;
  }

  &_list {
    list-style-type: disc;
    line-height: 2.0;
    color: #555555;
    font-size: 20px;
    padding: 10px 0 20px 30px;
  }

  @media (max-width: 545px) {
    font-size: 16px;
  }
}




