@import "../../assets/styles/common.scss";

.request {
    &__container {
        padding: 0 80px;
        @include flex-justify-between;
        align-items: center;
        gap: 126px;
        margin-bottom: 140px;
    }

    &__title {
        margin-top: 70px;
        margin-bottom: 30px;
        font-size: 36px;
        color: $dark;
    }

    &__form {
        width: 100%;
        margin-bottom: 54px;
    }
    
    &__sendBtn {
        width: 362px;
        padding: 28px 0;
        @include flex-justify-center;
        align-items: center;
        gap: 10px;
        border-radius: 66px;
        font-size: 20px;
        background-color: $secondary;
        color: $dark;
        margin-top: 54px;
    }
}

@media screen and (max-width: 992px) {
    .request {
        &__container {
            flex-direction: column;
            padding: 0;
            gap: 70px;
            margin-bottom: 92px;
        }
    }
}

@media screen and (max-width: 480px) {
    .request {
        &__title {
            margin-top: 50px;
            margin-bottom: 30px;
            font-size: 36px;
            color: $dark;
        }

        &__sendBtn {
            width: 345px;
            height: 80px;
            @include flex-justify-center;
            align-items: center;
            gap: 10px;
            border-radius: 66px;
            font-size: 20px;
            background-color: $secondary;
            color: $dark;
            margin-top: 54px;
        }

        &__image {
            height: 500px;
            object-fit: cover;
        }
    }
}
