@import "../../../assets/styles/common.scss";

.btn-group {
  display: flex;
  position: absolute;
  top: -60px;
  background-color: $secondary;
  border-radius: 10px;
  font-size: 36px;
  color: $primary-hover;
  right: 20px;

}
@media screen and (max-width: 620px) {
  .btn-group{
    display: none;
  }
}