@import "../../../assets/styles/common.scss";

.quantityBtns {
  @include flex-justify-around;
  background-color: $primary;
  border-radius: 66px;
  align-items: center;
  color: $dark;
  letter-spacing: -0.03em;
}

.quantityBtnsLg {
  width: 163px;
  height: 46px;
  font-weight: 400;
  button {
    font-size: 24px;
    line-height: 29px;
  }
  span {
    font-size: 20px;
    line-height: 24px;
  }
}
