.socialMediaImgs {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    & img {
        width: 24%;
    }
}

@media screen and (max-width: 1024px) {
    .socialMediaImgs {
        gap: 2%;
        
        & img {
            width: 32%;

            &:last-child {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .socialMediaImgs {
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;

        & img {
            width: 45%;

            &:last-child {
                display: flex;
            }
        }
    }
}
