.socialMediaImgs {
    max-width: 1300px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 auto 20px auto;
}

@media screen and (max-width: 480px) {
    .socialMediaImgs {
        max-width: 345px;
        flex-wrap: wrap;
        gap: 16px;
        margin: 0 auto 20px auto;

        & img {
            max-width: 164px;
            max-height: 164px;
        }
    }
}