.socialMediaImgs {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .socialMediaImgs {
        flex-wrap: wrap;
        gap: 16px;

        & img {
            max-width: 164px;
            max-height: 164px;
        }
    }
}